<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js - Tutorial</title>
</head>
<body>
    
    <div id="app">

        <nav>
            <a href="index.html">Home</a>
            <a href="employee.html">Employee</a>
        </nav>
        
        <div v-if="message.show">{{ message.text }}</div>

        <hr>
        <span>ชื่อ</span>
        <input type="text" v-model="postData.name" >
        <span>เงินเดือน</span>
        <input type="text" v-model="postData.salary">

        <button type="button" @click="addEmp()" >Save</button>
        <br><br>

        <div>
            
            <ul>
                <li v-for="emp in employees">
                    {{ emp.name }} เงินเดือน {{ emp.salary }}
                </li>
            </ul>

            <div>Total: {{ sumation }}</div>
            <div>Avg: {{ avg }}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="emp.js"></script>
</body>
</html>